<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>updating user</h1>
    <form action="/update" method="post">
        <input type="text" name="email" name="" id="">
        <input type="text" name="city" name="" id="">
        <input type="text" name="mobile_number" id="">
        <input type="submit" name="" value="submit">
    </form>
</body>
</html>