<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>transaction records file</title>
</head>
<body>
    <form action="/addTransactions" method="post">
        <input type="text" name="transaction_type_id" placeholder="transaction_type_id">
        <input type="text" name="amount" placeholder="amount">
        <input type="text" name="notes" placeholder="notes">
        <input type="text" name="date" placeholder="date">
        <input type="text" name="time" placeholder="time">
        <input type="text" name="bill_number" placeholder="bill_number">
        <input type="text" name="user_id" placeholder="user_id">
        <input type="text" name="customer_id" placeholder="customer_id">
        <input type="submit" name="submit">

    </form>
</body>
</html>